.header {
  background-color: $yellow;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-buttons {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 0 34px;
  }
  &-main {
    background-color: $yellow;
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 56px;
    clip-path: ellipse(100% 100% at top);
  }
  &-content {
    max-width: 921px;
  }
  &-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 34px;
    line-height: calc(81 / 54);
    color: $secondary-color;
    span {
      color: $primary-color;
    }
  }
  &-desc {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 52px;
    color: $gray-dark;
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 0 40px;
    .btn--primary {
      padding: 22px 38px;
    }
  }
  &-image {
    position: relative;
  }
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 68px;
  &-link {
    color: inherit;
  }
  margin-bottom: 0;
}
.watch {
  display: flex;
  align-items: center;
  gap: 0 32px;
  font-size: 14px;
  line-height: calc(36 / 24);
  color: inherit;
  &-icon {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background: #ffffff;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
