{{! <footer class="footer">
  <h3 class="footer-heading">ABOUT US</h3>
  <p class="footer-text">You can place Font Awesome icons just about anywhere
    using a style prefix and the icon’s name.
    <br />
    We’ve tried to make it so that icons take on the characteristics and appear
    alongside text naturally.</p>
  <div class="footer-icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
  </div>
</footer> }}