<header class="header">
  <img srcset="../images/logo.png 2x" alt="" class="header-logo" onclick="{}" />
  <ul class="menu">
    <li class="menu-item"><a href="/" class="menu-link">Trang Chủ</a></li>
    <li class="menu-item">
      <a href="/courses/store" class="menu-link">Khoá Học</a>
    </li>
    <li class="menu-item"><a href="#!" class="menu-link">Giảng Viên</a></li>
    <li class="menu-item">
      <a href="#!" class="menu-link">Tin Tức</a>
    </li>
  </ul>
  <div class="header-buttons">
    <a href="/auth/login" class="btn btn--white">Đăng Nhập</a>
    <a href="/auth/register" class="btn btn--primary">Đăng Ký</a>
  </div>
  {{! <ul class="navbar-nav ml-auto dropdown-wrap">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Menu
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/courses/create">Tạo khoá học</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
        <a class="dropdown-item" href="/me/stored/news">Bài đăng của tôi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Đăng xuất</a>
      </div>
    </li>
  </ul> }}
  {{! <div class="header-main">
      <div class="header-content">
        <h1 class="header-heading">
          Đạt điểm cao
          <span>các chứng chỉ quốc tế</span>
        </h1>
        <p class="header-desc">
          Skilline is an interesting platform that will teach you in more an
          interactive way
        </p>
        <div class="header-actions">
          <a href="#!" class="btn btn--primary">Khám phá ngay</a>
        </div>
      </div>
      <div class="header-image">
        <img srcset="./images/header-pic.png 3x" alt="" />
      </div>
    </div> }}
</header>

<script>
  import Link from '@mui/material/Link';

</script>