<section class="test">
    <h3 class="test-heading">Trusted by 5,000+ Companies Worldwide</h3>
    <div class="test-logos">
        <div class="test-logo">
            <img src="./images/ielts.png" alt="" />
        </div>
        <div class="test-logo">
            <img src="./images/toeic.jpeg" alt="" />
        </div>
        <div class="test-logo">
            <img src="./images/toefl.jpeg" alt="" />
        </div>
        <div class="test-logo">
            <img src="./images/aptis.png" alt="" />
        </div>
    </div>
</section>
<section class="introduce">
    <h1 class="introduce-heading">VỀ CHÚNG TÔI</h1>
    <p class="introduce-text">Với mong muốn mang tới cho học viên các khoá học ôn luyện chất lượng cao, chuẩn xác nhất, Skiiline luôn cập nhật và đổi mới.</p>
    
    <div class="row">
        <div class="introduce-col">
            <img src="./images/london.png" alt="">
            <h3 class="introduce-type">World Class Library</h3>
            <p class="introduce-detail">All of its international programs are of highly appreciated and have attracted the involvement of many distinguished students.</p>
        </div>
        <div class="introduce-col">
            <img src="./images/london.png" alt="">
            <h3 class="introduce-type">Largest Play Ground</h3>
            <p class="introduce-detail">A number and scale of research studies jointly conducted by NEU and international academic organizations have been increased substantially.</p>
        </div>
        <div class="introduce-col">
            <img src="./images/londo.png" alt="">
            <h3 class="introduce-type">Tasty And Healthy Food</h3>
            <p class="introduce-detail">International cooperation programs have made significant contributions to the university’s achievements.</p>
        </div>
    </div>
</section>
<section class="course-group">
    <h1 class="course-group-heading">OUR MODERN CAMPUS</h1>
    <p class="course-group-text">We offer various subject in our cirriculum and you can choose anyone which you want to know more and good at that skill.</p>
    <div class="row">
        <div class="course-group-col">
            <img src="./images/london.png" alt="">
            <div class="layer">
                <h3 class="course-group-type">IELTS</h3>
            </div>
        </div>
        <div class="course-group-col">
            <img src="./images/london.png" alt="">
            <div class="layer">
                <h3 class="course-group-type">TOEIC</h3>
            </div>
        </div>
        <div class="course-group-col">
            <img src="./images/london.png" alt="">
            <div class="layer">
                <h3 class="course-group-type">TOEFL</h3>
            </div>
        </div>
        <div class="course-group-col">
            <img src="./images/london.png" alt="">
            <div class="layer">
                <h3 class="course-group-type">APTIS</h3>
            </div>
        </div>
    </div>
</section>
