
<div class="wrapper">
    <div class="container mt-4 mb-4">
       <a class="btn btn-primary" href="/me/stored/courses" role="button">Quản lý khoá học</a>
      <button class="btn btn-primary" type="submit">Button</button>
      <input class="btn btn-primary" type="button" value="Input">
      <input class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-primary" type="reset" value="Reset">
    </div>

    {{> footer}}
</div>