<div class="header-main">
  <div class="header-content">
    <h1 class="header-heading">
      Đạt điểm cao
      <span>các chứng chỉ hàng đầu quốc tế</span>
    </h1>
    <p class="header-desc">
      Skilline là một nền tảng học Tiếng Anh trực tuyến, nơi các kiến thức và kỹ năng được truyền đạt hấp dẫn để bạn có thể đạt được mục tiêu chứng chỉ của mình.
    </p>
    <div class="header-actions">
      <a href="#!" class="btn btn--primary">Khám phá ngay</a>
    </div>
  </div>
  <div class="header-image">
    <img srcset="./images/header-pic.png 3x" alt="" />
  </div>
</div>
<div class="wrapper">
    <div class="container">
        <section class="test">
            <h3 class="test-heading">Các khóa học về các chứng chỉ Tiếng Anh hàng đầu hiện nay</h3>
            <div class="test-logos">
                <div class="test-logo">
                    <img src="./images/ielts.png" alt="" />
                </div>
                <div class="test-logo">
                    <img src="./images/toeic.jpeg" alt="" />
                </div>
                <div class="test-logo">
                    <img src="./images/toefl.jpeg" alt="" />
                </div>
                <div class="test-logo">
                    <img src="./images/aptis.png" alt="" />
                </div>
            </div>
        </section>
        <section class="introduce">
            <h1 class="global-heading">VỀ <span>CHÚNG TÔI</span></h1>
            <p class="introduce-text">Với mong muốn mang tới cho học viên các khoá học ôn luyện chất lượng cao, chuẩn xác nhất, <br> Skiiline luôn cập nhật và đổi mới trong mọi khía cạnh</p>
            
            <div class="row">
                <div class="introduce-col">
                    <img src="./images/london.png" alt="">
                    <h3 class="introduce-type">BÀI GIẢNG <span>CHẤT LƯỢNG</span></h3>
                    <p class="introduce-detail">Các bài giảng trên Skilline đều được biên soạn dựa trên nguồn tài liệu chuẩn và thiết kế phù hợp với khả năng và nhu cầu chung của học viên.</p>
                </div>
                <div class="introduce-col">
                    <img src="./images/london.png" alt="">
                    <h3 class="introduce-type">HỆ THỐNG <span>TÂN TIẾN</span></h3>
                    <p class="introduce-detail">Hệ thống học trực tuyến thông minh của Skilline có giao diện hiện đại, thân thiện với người dùng, giảm thiểu các khó khăn trong các lớp học tại chỗ.</p>
                </div>
                <div class="introduce-col">
                    <img src="./images/london.png" alt="">
                    <h3 class="introduce-type">TÍNH NĂNG <span>ĐA DẠNG</span></h3>
                    <p class="introduce-detail">Skilline phát triển các tính năng học tập như tìm hiểu lộ trình khóa học, xem video bài giảng, hỏi đáp,... giúp quá trình học trở nên thú vị hơn bao giờ hết.</p>
                </div>
            </div>
        </section>
        <section class="youcan">
          <div class="youcan-content">
            <h2 class="youcan-heading">
              Mọi thứ bạn làm ở lớp học trực tiếp,
              <span>bạn đều có trải nghiệm ở Skilline </span>
            </h2>
            <p class="youcan-desc">
              Skilline’s school management software helps traditional and online
              schools manage scheduling, attendance, payments and virtual
              classrooms all in one secure cloud-based system.
            </p>
            <a href="#!" class="youcan-more">Learn more</a>
          </div>
          <div class="youcan-image">
            <img src="./images/img3.png" alt="" />
            <div class="youcan-play">
              <img src="./images/icon-play.svg" alt="" />
            </div>
          </div>
        </section>
        <section class="course-group">
            <h1 class="global-heading">KHÁM PHÁ <span>KHÓA HỌC</span></h1>
            <p class="course-group-text">Chúng tôi mang đến 4 khóa học chính liên quan đến các chứng chỉ IELTS, TOEIC, TOEFL, APTIS. <br>Hãy khám phá ngay lộ trình học cụ thể của từng chứng chỉ nào!</p>
            <div class="row">
                <div class="course-group-col">
                    <img src="./images/london.png" alt="">
                    <div class="layer">
                        <h3 class="course-group-type">IELTS</h3>
                    </div>
                </div>
                <div class="course-group-col">
                    <img src="./images/london.png" alt="">
                    <div class="layer">
                        <h3 class="course-group-type">TOEIC</h3>
                    </div>
                </div>
                <div class="course-group-col">
                    <img src="./images/london.png" alt="">
                    <div class="layer">
                        <h3 class="course-group-type">TOEFL</h3>
                    </div>
                </div>
                <div class="course-group-col">
                    <img src="./images/london.png" alt="">
                    <div class="layer">
                        <h3 class="course-group-type">APTIS</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
          <div class="feature-header">
            <h2 class="global-heading">Our <span>Features</span></h2>
            <p class="global-text">
              This very extraordinary feature, can make learning activities more
              efficient
            </p>
          </div>
          <div class="feature-main">
            <div class="feature-section">
              <div class="feature-image">
                <img src="./images/img4.png" alt="" />
              </div>
              <div class="feature-content">
                <h3 class="global-heading feature-heading">
                  A <span>user interface</span> designed for the classroom
                </h3>
                <ul class="feature-list">
                  <li class="feature-item">
                    <div class="feature-icon">
                      <img src="./images/icon-squares.svg" alt="" />
                    </div>
                    <p class="feature-text">
                      Teachers don’t get lost in the grid view and have a
                      dedicated Podium space.
                    </p>
                  </li>
                  <li class="feature-item">
                    <div class="feature-icon">
                      <img src="./images/icon-squares.svg" alt="" />
                    </div>
                    <p class="feature-text">
                      Teachers don’t get lost in the grid view and have a
                      dedicated Podium space.
                    </p>
                  </li>
                  <li class="feature-item">
                    <div class="feature-icon">
                      <img src="./images/icon-squares.svg" alt="" />
                    </div>
                    <p class="feature-text">
                      Teachers don’t get lost in the grid view and have a
                      dedicated Podium space.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="feature-section">
              <div class="feature-content">
                <h2 class="global-heading feature-heading">
                  <span>Tools</span> For Teachers And Learners
                </h2>
                <p class="feature-text">
                  Class has a dynamic set of teaching tools built to be deployed
                  and used during class. Teachers can handout assignments in
                  real-time for students to complete and submit.
                </p>
              </div>
              <div class="feature-image">
                <img srcset="./images/img5.png 2x" alt="" />
              </div>
            </div>
            <div class="feature-section">
              <div class="feature-image">
                <img src="./images/img6.png" alt="" />
              </div>
              <div class="feature-content">
                <h3 class="global-heading feature-heading">
                  Assessments, <span>Quizzes</span>, Tests
                </h3>
                <p class="feature-text">
                  Easily launch live assignments, quizzes, and tests. Student
                  results are automatically entered in the online gradebook.
                </p>
              </div>
            </div>
            <div class="feature-section">
              <div class="feature-content">
                <h3 class="global-heading feature-heading">
                  <span>Class Management</span> Tools for Educators
                </h3>
                <p class="feature-text">
                  Class provides tools to help run and manage the class such as
                  Class Roster, Attendance, and more. With the Gradebook,
                  teachers can review and grade tests and quizzes in real-time.
                </p>
              </div>
              <div class="feature-image">
                <img src="./images/img7.png" alt="" />
              </div>
            </div>
          </div>
          <a href="#" class="btn feature-more">See more features</a>
        </section>
        <section class="testimonial">
          <div class="testimonial-content">
            <h3 class="global-caption">TESTIMONIAL</h3>
            <h2 class="global-heading testimonial-heading">What They Say?</h2>
            <p class="global-text testimonial-desc">
              Skilline has got more than 100k positive ratings from our users
              around the world.
            </p>
            <p class="global-text testimonial-desc">
              Some of the students and teachers were greatly helped by the
              Skilline.
            </p>
            <p class="global-text testimonial-desc">
              Are you too? Please give your assessment
            </p>
            <a href="#!" class="btn testimonial-button">
              <span>Write your assessment</span>
              <div class="testimonial-arrow">
                <img src="./images/icon-long-arrow.svg" alt="" />
              </div>
            </a>
          </div>
          <div class="testimonal-slider">
            <div class="testimonial-item"></div>
          </div>
        </section>
    </div>

    {{> footer}}
</div>