
<div class="wrapper">
    <div class="container mt-4 mb-4">
       <a class="btn btn-primary" href="/me/stored/courses" role="button">Quản lý khoá học</a>
       <a class="btn btn-primary" href="/user" role="button">Quản lý người dùng</a>
    </div>
<div class="container mt-4 mb-4">
       <a class="btn btn-primary" href="/me/view-counts" role="button">Thống kê lượt xem</a>
    </div>
    {{> footer}}
</div>