
<div class="wrapper">
    <div class="container m-4">
       <a class="btn btn-primary" href="/me/stored/courses" role="button">Quản lý khoá học</a>
       <a class="btn btn-primary" href="/me/users" role="button">Quản lý người dùng</a>
    </div>
    <div class="container m-4">
       <a class="btn btn-primary" href="/me/view-counts" role="button">Thống kê lượt xem</a>
       <a class="btn btn-primary" href="/me/turnover" role="button">Báo cáo doanh thu</a>
    </div>
    
    {{> footer}}
</div>